@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-shadow {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-drop-shadow {
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

.btn-drop-shadow:hover {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
}

.MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.MuiInputBase-input {
  font-size: 0.75rem !important;
  min-width: 277px !important;
}
